#dropdown-basic{
    background-color: #3A58C8!important;
    color: #fff;
    font-size: 23px;
}
#dropdown-select{
    background-color: rgb(146, 146, 146) !important;
    width: 100%;
}
#dropdown-item{
    color: rgb(255, 255, 255) !important;
    font-size: 19px;
    text-align: center;
}